@media screen and (max-width: 480px){

	.social-block {

		display: none;
	}

	.single h2 {
		text-align: center;
		font-size: 1.125em;
	}

	.list-news__news-card {
		flex:0 0 100%;
	}

	.b-banner {
		display: none;
	}
}