{% extends 'base.html' %}
{% load static thumbnail banners %}

{% block title %}Список комиссий Совета депутатов городского округа Фрязино{% endblock %}

{% block addcss %}
		<link rel="stylesheet" href="{% static "css/commissionList.css" %}">
{% endblock %}

{% block keyword%}
<meta type='keywords' content="Совет депутатов, Фрязино, комиссии">
<meta name="title" content="Список комиссий Совета депутатов городского округа Фрязино">
<meta name="description" content="Список комиссий Совета депутатов городского округа Фрязино">
<meta property="og:type" content="article">
<meta property="og:title" content="Список комиссий Совета депутатов городского округа Фрязино">
<meta property="og:url" content="http://{{ request.get_host }}/comission/">
<meta property="og:description" content="Все комиссии, рабочие группы и прочие органы, создаваемые Советом депутатов городского округа Фрязино">
<meta property="og:image" content="http://{{ request.get_host }}{% static 'img/back.svg' %}">

{% endblock %}

{% block main-content %}
<div class="container">
	<div class="com-list--header">
		<h1>Список комиссий Совета депутатов городского округа Фрязино</h1>
		<div class="com-list--subhead">
			Количество комиссий и рабочих групп: {{ comms | length }}
		</div>
	</div>
	<div class="accordion"> 
	{% for com in comms %}
		<div class="tab">
			 <input type="checkbox" id="tab{{ com.id }}" name="tab-group">
			 <label for="tab{{ com.id }}" class="tab-title">{{ com.title }}<span> | Количество членов: {{ com.members.all | length }}</span></label> 
		<section class="tab-content"> 
			<span>Краткое описание деятельности комиссии: </span>
			<div class="com-list--desc">
				{{ com.description }}
			</div>

			<div class="com-list--chair">
			<b>Председатель комиссии: </b><a href="{{ com.chairman.get_absolute_url }}">{{ com.chairman.get_fio }}</a>
			</div>
   		  <h3>Члены комиссии:</h3>
			<div class="com-list--memb">
				{% for memb in com.members.all %}
					<div class="com-list--mem-el"><a href="{{ memb.get_absolute_url }}">
						<div class="com-list--mem-el-img">
							{% if memb.image %}
							<img src="{% thumbnail memb.image '175x175' quality=100 %}" alt="{{ memb.get_fio  }}">
							{% else %}
							<img src="{% static "img/Man-175.svg" %}" alt="{{ memb.get_fio  }}">
							{% endif %}
						</div>
						<div class="com-list--mem-el-info">{{ memb.first_name }}<br>{{ memb.last_name }} {{ memb.middle_name }}</div>
					</a></div>
				{% endfor %}
			</div>
  		 </section> 
		</div>
		
	{% empty %}
	<h2>На данный момент комиссий и рабочих груп не создано!</h2>
	{% endfor %}
	</div>
	
</div>
	
{% endblock %}



  
   
    
    
