{% extends 'base.html' %}
{% load static thumbnail %}

{% block title %}Совет депутатов городского окргуа Фрязино{% endblock %}

{% block addcss %}
		<link rel="stylesheet" href="{% static "css/deputatList.css" %}">
{% endblock %}

{% block keyword%}
<meta type='keywords' content="Совет депутатов, Фрязино">
<meta name="title" content="{{ title }}">
<meta name="description" content="Состав Совета депутатов городского округа Фрязино">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="http://{{ request.get_host }}/sovet/list">
<meta property="og:description" content="Состав Совета депутатов городского округа Фрязино">
<meta property="og:image" content="http://{{ request.get_host }}{% static 'img/back.svg' %}">

{% endblock %}

{% block main-content %}
<div class="container">
	<div class="deputat-list--header">
		<h1>Совет депутатов городского округа Фрязино</h1>
	</div>
<div class="deputat-list--chairmans">
	<div class="deputat-list--chairman">
		<div class="deputat-list--chairman-img">
			<a href="{{ chairman.get_absolute_url }}">
			{% if chairman.image %}
			<img src="{% thumbnail chairman.image '450x450' quality=100 %}" alt="{{ chairman.get_fio }}">
			{% else %}
			<img src="{% static "img/Man.svg" %}" alt="{{ chairman.get_fio }}">
			{% endif %}
			</a>
		</div>
		<div class="deputat-list--chairman-info">
			<div class="deputat-list--chairman--title">Председатель Совета депутатов</div>
			<div class="deputat-list--chairman-fio">
				<a href="{{ chairman.get_absolute_url }}">
				{{ chairman.first_name }} {{ chairman.last_name }} {{ chairman.middle_name }}
				</a>
			</div>
			<div class="deputat-list--chairman-contacts">
				{% if chairman.phones %}
				<span><b>Телефон:</b> {{ chairman.phones }}</span>
				{% endif %}
				<span><b>Email: </b><a href="mailto:{{ chairman.email }}">{{ chairman.email }}</a></span>
				<span><b>Округ выдвижения: </b><a href="{{ chairman.okrug.get_absolute_url }}">{{ chairman.okrug.title }}</a></span>
				<span><b>Партия: </b><a href="{{ chairman.party.get_absolute_url }}">{{ chairman.party.title }}</a></span>
			</div>
		</div>
	</div>
	<div class="deputat-list--chairman">
		<div class="deputat-list--chairman-img">
			<a href="{{ vicechairman.get_absolute_url }}">
			{% if vicechairman.image %}
			<img src="{% thumbnail vicechairman.image '450x450' quality=100 %}" alt="{{ vicechairman.get_fio }}">
			{% else %}
			<img src="{% static "img/Man.svg" %}" alt="{{ vicechairman.get_fio }}">
			{% endif %}
			</a>
		</div>
		<div class="deputat-list--chairman-info">
			<div class="deputat-list--chairman--title">Заместитель председателя Совета депутатов</div>
			<div class="deputat-list--chairman-fio">
				<a href="{{ vicechairman.get_absolute_url }}">
				{{ vicechairman.first_name }} {{ vicechairman.last_name }} {{ vicechairman.middle_name }}
				</a>
			</div>
			<div class="deputat-list--chairman-contacts">
				{% if vicechairman.phones %}
				<span><b>Телефон:</b> {{ vicechairman.phones }}</span>
				{% endif %}
				{% if vicechairman.email %}
				<span><b>Email: </b><a href="mailto:{{ vicechairman.email }}">{{ vicechairman.email }}</a></span>
				{% endif %}
				{% if vicechairman.okrug %}
				<span><b>Округ выдвижения: </b><a href="{{ vicechairman.okrug.get_absolute_url }}">{{ vicechairman.okrug.title }}</a></span>{% endif %}{% if vicechairman.party %}
				<span><b>Партия: </b><a href="{{ vicechairman.party.get_absolute_url }}">{{ vicechairman.party.title }}</a></span>
				{% endif %}
			</div>
		</div>
	</div>
</div>
	{% for dep in deps %}
	{% ifchanged  dep.okrug.title %}
	{% if not forloop.first %}
	</div></div>
	{% endif %}
	<div class="deputat-list--okrug">
	<h3><a href="{{ dep.okrug.get_absolute_url }}">{{ dep.okrug.title }}</a></h3>
	<hr>
	<div class="deputat-list--okr-list">
	{% endifchanged %}
	<div class="deputat-list--okr-el">
		<a href="{{ dep.get_absolute_url }}">
		<div class="deputat-list--okr-img">
			{% if dep.image %}
			<img src="{% thumbnail dep.image '175x230' crop='center' quality=100 %}" alt="{{ dep.get_fio }}">
			{% else %}
			<img src="{% static "img/Man.svg" %}" width="175" height="230" alt="{{ dep.get_fio }}">
			{% endif %}
		</div>
		<span class="deputat-list--okr-fio">
			{{ dep.get_fio }}
		</span>
		</a>
	
	</div>

	{%endfor %}
	</div></div>
{% endblock %}




