{% extends 'base.html' %}

{% load static thumbnail banners %}

{% block title %}Депутат {{ deputat.get_fio }}{% endblock %}

{% block addcss %}
		<link rel="stylesheet" href="{% static "css/deputatView.css" %}">
{% endblock %}

{% block keyword%}
<meta name="title" content="{{ deputat.get_fio }}">
<meta type='keywords' content="Совет депутатов, Фрязино, {{ deputat.get_fio }}">
<meta name="description" content="Личная страница депутата {{ deputat.get_fio }} Совета депутатов городского округа Фрязино">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ deputat.get_fio }}">
<meta property="og:url" content="http://{{ request.get_host }}{{ deputat.get_absolute_url }}">
<meta property="og:description" content="Депутат Совета депутатов городского округа Фрязино {{ deputat.get_fio }}. Личная странциа.">
	{% if deputat.image %}
<meta property="og:image" content="http://{{ request.get_host }}{{ deputat.image.url }}">
	{% else %}
<meta property="og:image" content="http://{{ request.get_host }}{% static 'img/back.svg' %}">
	{% endif %}
{% endblock %}

{% block main-content %}
<div class="container">
	
	<div class="deputat-view--top">
		<div class="deputat-view--img">
			{% if deputat.image %}
			<img src="{% thumbnail deputat.image '250x250' quality=100 %}" alt="{{ deputat.get_fio }}">
			{% else %}
			<img src="{% static 'img/Man.svg' %}" alt="{{ deputat.get_fio }}">
			{% endif %}
		</div>

		<div class="deputat-view--info">
			<div class="deputat-view--header">
				<h1>{{ deputat.get_fio }}</h1>
			</div>
			{% if deputat.phones %}
			<div class="deputat-view--info-el">
				<b>Телефон:</b> {{ deputat.phones }}
			</div>
			{% endif %}
			{% if deputat.email %}
			<div class="deputat-view--info-el">
				<b>Email: </b><a href="mailto:{{ deputat.email }}">{{ deputat.email }}</a>
			</div>
			{% endif %}
			{% if deputat.okrug %}
			<div class="deputat-view--info-el">
				<b>Округ выдвижения: </b><!--a href="{{ deputat.okrug.get_absolute_url }}"-->{{ deputat.okrug.title }}<!--/a-->
			</div>
			{% endif %}
			{% if deputat.party %}
			<div class="deputat-view--info-el">
				<b>Партия: </b><a href="{{ deputat.party.get_absolute_url }}">{{ deputat.party.title }}</a>
			</div>
			{% endif %}
			{% if deputat.bDate %}
			<div class="deputat-view--info-el">
				<b>Дата рождения: </b>{{ deputat.bDate }} 
			</div>
			{% endif %}
			{% if coms %}
			<h3>Депутат является членом комиссий: </h3>
				<ul>
				{% for com in coms %}
					<li>{{ com.title }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% if deputat.grafic %}
			<div class="deputat-view--grafic">
				<h3>График приёма: </h3>
				{{ deputat.grafic | safe  }}
			</div>
			{% endif %}
			{% if deputat.bio %}
			<div class="deputat-view--bio">
			<h3>Биография: </h3>
			{{ deputat.bio | safe  }}
			</div>
			{% endif %}

		</div>
	</div>
	{% big_banner_news %}
</div>
{% endblock %}