/* docs-list-- */ 

.docs-list--header {

	/*font-size: 1.5em;*/
	margin-bottom: 1.5em;
}

.docs-list--list ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.docs-list--el {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--second);
	font-size: 18px;
	line-height: 28px;
	padding-left: 40px;
	display: block;
	position: relative;
}

.docs-list--el:after {

	content: '';
	height: 38px;
	width: 30px;
	background-image: url('../img/file-icon.png');
	background-size: cover;
	position: absolute;
	left: 0px;
	top: 5px;
}

.docs-list--link {
	padding-bottom: 20px;
}

.docs-list--link a {

	font-size: 20px;
}

.docs-list--el:hover a{
	color: var(--primary);
}

.docs-list--info, .docs-list--date {
	color: gray;
}

.docs-list--info {
	font-weight: 900;
}

.docs-list--date {
	padding-bottom: 10px;
}

/* Пагинация */

.listnews--paginate .pagination {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 40px 0px 50px 0px;
}

.listnews--paginate .pagination li {
	padding: 8px;
	margin: 0px 3px;
	border: 1px solid var(--primary);
	border-radius: 3px;
	width: 20px;
	height: 20px;
	text-align: center;
	color: var(--second);
}

.listnews--paginate .pagination li.disabled {
	border: 1px solid var(--second);
}

.listnews--paginate .pagination li.disabled:hover {
	background-color: var(--second);
	color: white;
}



.listnews--paginate .pagination .active {
	background-color: var(--primary);
	color: white;
}

.listnews--paginate .pagination .active a {
	color: white;
}


.listnews--paginate .pagination li a {
	color:  var(--primary);
}

.listnews--paginate .pagination li:hover {
	background-color: var(--primary);
	
}

.listnews--paginate .pagination li:hover a {
	color: white;
	font-weight: 900;
}

/* Окончание пагинации */

/* Подменю */

.simple--submenu {
	list-style: none;
	display: flex;
	padding: 20px;
	margin: 20px 0px 20px 0px;
	background-color: var(--primary);
	border-radius: 5px;
	flex-wrap: wrap;
	line-height: 30px;

}

.simple--submenu-el {
	padding-right: 25px;

	color: white;
}

.simple--submenu-el a {
	color: white;
	text-transform: uppercase;
	white-space: nowrap;
}

.simple--submenu-el:hover a {
	color: lightblue;
	transition: 0.5s;
	border-bottom: 1px solid lightblue;

}

.docCategoryList--list {
    padding: 0px;
}