
  @font-face {
    font-family: 'Als Ekibastuz Heavy';
    src: url('https://pos.gosuslugi.ru/bin/banner/als_ekibastuz_heavy-webfont.woff2') format('woff2'),
    url('https://pos.gosuslugi.ru/bin/banner/als_ekibastuz_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  :root {
    --pos-banner-width: 100%;
    --pos-banner-height: 100%;
    --pos-banner-padding: 10px;
    --pos-banner-title-size: 24px;
    --pos-banner-title-align: center;
    --pos-banner-bg-size: 70%;
    --pos-banner-bg-pos-x: left;
  }
  .pos-container-width {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    min-height: 430px;
  }
  .pos-container-height {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(600px - 100%); /* uses width in calc */
  }
  .pos-banner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: var(--pos-banner-width);
    height: var(--pos-banner-height);
    min-height: 430px;
    background-image: url('https://pos.gosuslugi.ru/bin/banner/pos-bg-min.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: var(--pos-banner-padding);
    padding-right: var(--pos-banner-padding);
    padding-bottom: 25px;
    box-sizing: border-box;
    background-color: #E3E8EC !important;
    background-size: var(--pos-banner-bg-size);
    background-position-x: var(--pos-banner-bg-pos-x);
	border-radius: 5px;
  }
  .bvi-body .pos-banner {
    position: inherit;
  }
  .pos-banner-icon {
    background-image: url('https://pos.gosuslugi.ru/bin/banner/pos-gos-logo.png');
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
  }
  .pos-banner-btn {
    font-family: 'Arial',sans-serif;
    padding: 10px;
    width: 100%;
    max-width: 290px;
    text-align: center;
    background: #0063B0 !important;
    color: white !important;
    border-radius: 4px;
    margin-top: 20px;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }
  .pos-banner-title {
    font-family: 'Als Ekibastuz Heavy',sans-serif;
    color: #0063B0 !important;
    font-style: normal;
    font-weight: bold;
    text-align: var(--pos-banner-title-align);
    font-size: var(--pos-banner-title-size) !important;
  }
  .pos-banner-title-item {
    display: inline-block;
  }
  .pos-banner-hint-icon {
    font-family: 'Arial',sans-serif;
    background-color: white !important;
    width: 22px;
    height: 22px;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    padding: -2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 12px !important;
    align-items: center;
    font-weight: bold;
    color: black !important;
  }
  .pos-banner-hint-message {
    font-family: 'Arial',sans-serif;
    font-size: 11px !important;
    display: none;
    position: absolute;
    right: 5px;
    top: 55px;
    background-color: white;
    width: 85%;
    padding: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: black !important;
  }
  .pos-banner-hint-message::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 1px;
    transform: matrix(-0.7, -0.8, 0.63, -0.7, 0, 0);
    top: -5px;
    right: 10px;
  }
  .pos-banner-hint-icon:hover ~ .pos-banner-hint-message {
    display: block;
    animation: fadeInFromNone 0.5s ease-out;
  }
  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }

