{% extends 'base.html' %}
{% load static text_block %}

{% block  title %}Интернет-приемная {{ title }}{% endblock %}

{% block addcss %}
<link rel="stylesheet" href="{% static "css/reception.css" %}">
{% endblock %}

{% block  keyword %}
{% endblock %}

{% block  main-content %}
	<div class="container">
		<div class="reception--header">
			<h1>Интернет-приемная {{ title }}</h1>
		</div>
		<div class="reception--preinfo">
			{% textblock 'reception-short' %}
		</div>
		<div class="reception--form">
			<form method='POST' enctype="multipart/form-data">
			{% csrf_token %} 
			{{ form.as_p }}
			<input type="submit" name="submit" value="Отправить сообщение">
			</form>
		</div>

	</div>
	
{% endblock %}