{% extends 'base.html' %}
{% load static banners text_block %}

{% block title %}Спасибо за Ваше обращение!{% endblock %}

{% block addcss %}
<link rel="stylesheet" href="{% static "css/reception.css" %}">
{% endblock %}

{% block main-content %}
<div class="container">
	<div class="reception--header">
		<h1>Ваше обращение уcпешно принято!</h1>
	</div>
	<div class="reception--main">
		<div class="reception--text">
			<div class="reception--done">
			{% textblock 'reception-done' %}
			<div class="reception--number">
				<p><b>Ваше обращение зарегистрировано под номером: {{ number }} от {{ numdate }}</b></p>
				<p>Можете верунться на <a href="/">главную</a> страницу.</p>
			</div>
			</div>
			{% big_banner_news %}
		</div>
		<div class="reception--bnr">
			{% all_small_banners 2 %}
		</div>
	</div>
</div>
{% endblock %}

