/* .simple-- */

.simple--header {
	margin-bottom: 40px;
}

.simple--header h1 {
	font-size: 40px;
	line-height: 30px;
}

.simple--main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	font-size: 18px;
}

.simple--left {
	width: 75%;
	position: relative;
	display: flex;

}

.simple--social {
	flex: 1;
	padding-right: 20px;
	
}

.simple--share {
	position: sticky;
	top: 30px;
}

.simple--text {
	flex: 11;
}

.simple--right {
	width: 20%;
	padding-left: 5%;
	
}

.simple--banners {
	position: sticky;
	top: 30px;
}

/* баннеры справа */

.listnews--sidebar-banners {

	width: 100%;
}

.listnews--banners-list {
	list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.listnews--banner {
	width: 100%;
	padding-bottom: 20px;
}

.listnews--banner   img {

	width: 100%;
}