{% extends 'base.html' %}

{% load static banners %}


{% block title %}{{ category.title }}{% endblock %}

{% block addcss %}<link rel="stylesheet" href="{% static "css/docs-list.css" %}">{% endblock %}

{% block keyword%}
	<meta name="title" content="{{ category.title }}">
	<meta type='keywords' content="Документы, Фрязино, Нормотворчество, Официально">
	<meta name="description" content="">


	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="Администрация <br> городского округа <br> Фрязино">
	<meta property="og:title" content="{{ category.title }}">
	<meta property="og:description" content="Нормативные документы городского округа Фрязино">
	<meta property="og:url" content="http://{{ request.get_host }}/documents/category/{{ category.slug }}">
	<meta property="og:image" content="http://{{ request.get_host }}{% static 'img/back.svg' %}">


{% endblock %}

{% block main-content %}

	<div class="container">
		<h1>{{ category.title }}</h1>
		
		
		
		<div class="docCategoryList--main">
			{% if submenu|length > 0 %}
			<div class="docCategoryList--submenu">
				<ul class="simple--submenu">
					<li class="simple--submenu-el"><a href="/documents/">Нормативные документы</a></li>
					<br>
					{% for psub in submenu %}
					<li class="simple--submenu-el"><a href="{{ psub.get_absolute_url}} ">{{ psub.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			<div class="docCategoryList--content">
				<ul class="docCategoryList--list">
				{% for doc in docList %}
					<li class="docCategoryList--list-el">
						<a href="{{ doc.get_absolute_url }}">{{ doc.title }}</a>
					</li>
				{% empty%}
					<h3>Нет документов в данной категории</h3>
				{% endfor %}
				</ul>	 
			</div>
		</div>
	</div>

{% endblock %}