<div id="side-menu" class="side-nav">
		<div>
		<a href="#" onclick="hideSideMenu()" class="s-menu-close"><i class="fa fa-close" aria-hidden="true"></i></a>
		<ul class="s-menu">
			
			<li class="s-menu-el"><a href="#">Новости</a></li>
			<li class="s-menu-el">
				<a href="https://google.com">Городской округ Фрязино</a>
				<span id='cl1' data-open='0' data-id='1' onclick="showDropMenu(this.id)"><i class="fa fa-caret-down"></i></span>
				<div id='dr1' class="dropdown">
				<ul class="dropdown-list">
					<li class='dropdown-link'><a href="#">Символика</a></li>
					<li class='dropdown-link'><a href="#">К сведению</a></li>
					<li class='dropdown-link'><a href="#">Социально-ориентированные некоммерческие организации</a></li>
					<li class='dropdown-link'><a href="#">Социально-экономическое развитие</a></li>
					<li class='dropdown-link'><a href="#">Управление и комитеты</a></li>
					<li class='dropdown-link'><a href="#">Малое предпринимательство</a></li>
					<li class='dropdown-link'><a href="#">Общественные организации</a></li>
					<li class='dropdown-link'><a href="#">Общественная палата</a></li>
					<li class='dropdown-link'><a href="#">Ветеранское движение</a></li>
					<li class='dropdown-link'><a href="#">Уполномоченный по правам человека</a></li>
					<li class='dropdown-link'><a href="#">Генеральный план</a></li>
					<li class='dropdown-link'><a href="#">Города-Побратимы</a></li>
					<li class='dropdown-link'><a href="#">Жилищно-коммунальное хозяйство</a></li>
					<li class='dropdown-link'><a href="#">Афиша</a></li>
					<li class='dropdown-link'><a href="#">Фотоархив</a></li>

				</ul>
				</div>
			</li>
			<li class="s-menu-el">
				<a href="#">Власть</a>
				<span id='cl2' data-open='0' data-id='2' onclick="showDropMenu(this.id)"><i class="fa fa-caret-down"></i></span>
				<div class="dropdown" id='dr2'>
				<ul class="dropdown-list">
					<li class='dropdown-link'><a href="#">Глава Городского округа Фрязино</a></li>
					<li class='dropdown-link'><a href="#">Совет депутатов</a></li>
					<li class='dropdown-link'><a href="#">Структурные подразделения администрации</a></li>
					<li class='dropdown-link'><a href="#">Об Администрации</a></li>
					<li class='dropdown-link'><a href="#">График приёма</a></li>
					<li class='dropdown-link'><a href="#">Контрольная деятельность</a></li>
					<li class='dropdown-link'><a href="#">Обращения граждан</a></li>
					<li class='dropdown-link'><a href="#">Кадровое обеспечение</a></li>
					<li class='dropdown-link'><a href="#">Противодействие терроризму и его идеологии</a></li>
					<li class='dropdown-link'><a href="#">Противодействие коррупции</a></li>
					<li class='dropdown-link'><a href="#">Отчеты</a></li>
				</ul>
				</div>
			</li>
			<li class="s-menu-el">
				<a href="#">Документы</a>
				<span id='cl3' data-open='0' data-id='3' onclick="showDropMenu(this.id)"><i class="fa fa-caret-down"></i></span>
				<div class="dropdown" id="dr3">
				<ul class="dropdown-list">
					<li class='dropdown-link'><a href="#">Нормативные документы</a></li>
					<li class='dropdown-link'><a href="#">Устав муниципального образования «Городской округ Фрязино Московской
области»</a></li>
					<li class='dropdown-link'><a href="#">Государственные услуги</a></li>
					<li class='dropdown-link'><a href="#">Муниципальные услуги</a></li>
					<li class='dropdown-link'><a href="#">Муниципальный заказ</a></li>
					<li class='dropdown-link'><a href="#">Муниципальный контроль</a></li>
					<li class='dropdown-link'><a href="#">Бюджет</a></li>
					<li class='dropdown-link'><a href="#">Публичные слушания</a></li>
				</ul>
				</div>
			</li>
			<li class="s-menu-el">
				<a href="#">Справочная</a>
				<span id='cl4' data-open='0' data-id='4' onclick="showDropMenu(this.id)"><i class="fa fa-caret-down"></i></span>
				<div class="dropdown" id='dr4'>
				<ul class="dropdown-list">
					<li class='dropdown-link'><a href="#">Муниципальные учреждения</a></li>
					<li class='dropdown-link'><a href="#">Автомобильные инспекции</a></li>
					<li class='dropdown-link'><a href="#">Отдел ЗАГС городского округа Фрязино</a></li>
					<li class='dropdown-link'><a href="#">Учреждения для детей</a></li>
					<li class='dropdown-link'><a href="#">Высшие и средние специальные учреждения</a></li>
					<li class='dropdown-link'><a href="#">Учреждения физической культуры и спорта</a></li>
					<li class='dropdown-link'><a href="#">Учреждения социальной защиты населения</a></li>
					<li class='dropdown-link'><a href="#">Музеи и выставочные залы</a></li>
					<li class='dropdown-link'><a href="#">Ветеранское движение</a></li>
					<li class='dropdown-link'><a href="#">Кинотеатры и концертные залы</a></li>
					<li class='dropdown-link'><a href="#">Средства массовой информации</a></li>
					<li class='dropdown-link'><a href="#">В помощь бизнесу</a></li>
					<li class='dropdown-link'><a href="#">Молодая семья</a></li>
					<li class='dropdown-link'><a href="#">Наружная реклама</a></li>
					<li class='dropdown-link'><a href="#">Управляющие компании</a></li>

				</ul>
				</div>
			</li>
			<li class="s-menu-el"><a href="#">Пресс-служба</a></li>
			<li class="s-menu-el"><a href="#">Интернет-приемная</a></li>
		</ul>
		<div class="social-block">
			<ul>
				<li class="vk"><i class="fa fa-vk" aria-hidden="true"><a href="#"></a></i></li>
				<li class="fb"><i class="fa fa-facebook" aria-hidden="true"><a href="#"></a></i></li>
				<li class="tw"><i class="fa fa-twitter" aria-hidden="true"><a href="#"></a></i></li>
				<li class="inst"><i class="fa fa-instagram" aria-hidden="true"><a href="#"></a></i></li>
				<li class="yt"><i class="fa fa-youtube-play" aria-hidden="true"><a href="#"></a></i></li>
				<li class="ok"><i class="fa fa-odnoklassniki" aria-hidden="true"><a href="#"></a></i></li>
			</ul>
		</div>
		</div>
	</div>