{% extends 'base.html' %}
{% load cropping static banners %}

{% block title %}{{ page.title }}{% endblock %}

{% block addcss %}
	
		<link rel="stylesheet" href="{% static "css/simple.css" %}">
	
{% endblock %}

{% block keyword%}<meta type='keywords' content="page.keywords">{% endblock %}

{% block main-content %}
<div class="container">
	
<div class="simple--header">

	{% if submenu|length > 0 %}
	<ul class="simple--submenu">
		{% for psub in submenu %}
		<li class="simple--submenu-el"><a href="{{ psub.get_url}} ">{{ psub.title }}</a></li>
		{% if forloop.first %}
		<li class="simple--submenu-el">|</li>
		{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
<h1>{{ page.title }}</h1>
</div>

<div class="simple--main">
	<div class="simple--left">
		<div class="simple--social">
			<div class="simple--share">
			<!-- uSocial -->
				<script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
				<div class="uSocial-Share" data-pid="0ca7b04ed6f1397684959412f0e5465c" data-type="share" data-options="round-rect,style1,default,absolute,vertical,size48,eachCounter0,counter0" data-social="vk,fb,twi,ok,telegram,wa,print" data-mobile="sms"></div>
			<!-- /uSocial -->	
			</div>
		</div>
		<div class="simple--text">
			{{page.body|safe }}
		</div>
	</div>
	<div class="simple--right">
		<div class="simple--banners">
		{% all_small_banners 3 %}
		</div>
	</div>
</div>
</div>
{% endblock %}
