{% load cropping static %}
<h2 class="newsdetail--more-news-list-title">Последние новости:</h2>
<ul class="newsdetail--more-news-list">
	{% for new in news %}
		<li>
			<a class="newsdetail--more-news-el" href="{% url 'NewDetail' new.id new.slug %}">
				
					{%if new.image %}
					<div class="newsdetail--more-news-img" style="background-image:url('{% cropped_thumbnail new "list_img_cropping" width=290 %}');"></div>
					

					{% else %}
					<div class="newsdetail--more-news-img" style="background-image:url('{% static 'img/back.svg' %}');"></div>
					

					{% endif %}
			
				<div class="newsdetail--more-news-title">
					<span>{{new.publisdDate | date:"l, j E Y"}}</span>
					<h3>{{ new.title | truncatewords:12 }}</h3>
				</div>
			</a>
		</li>
	{% endfor %}
</ul>